# Will it rain tomorrow?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

В качестве второго датасета я выбрал "will it rain tomorrow", в котором собраны данные их различных австралийских метеостанций, такие как давление, скорость ветра, температура и так далее. Мне нужно построить и обучить модель бинарной классификации, которая бы предсказывала вероятность выпадения осадков завтра.  

В этом датасете есть следующие признаки:  
1.  Date: Дата наблюдения.
2.  Location: Название места расположения метеостанции.
3.  MinTemp Минимальная температура в градусах Цельсия.
4.  MaxTemp: Максимальная температура в градусах Цельсия.
5.  Rainfall: Количество осадков, зафиксированное за день в мм.
6.  Evaporation: Так называемое испарение класса А (мм) за 24 часа до 9 утра.
7.  Sunshine: Количество часов яркого солнечного света в день.
8.  WindGustDir: Направление самого сильного порыва ветра в 24 часах к полуночи.
9.  WindGustSpeed: Скорость (км/ч) самого сильного порыва ветра за 24 часа до полуночи.
10.  WindDir9am: Направление ветра в 9 утра.
11.  WindDir3p: Направление ветра в 3 вечера.
12.  WindSpeed9am: Скорость ветра (км/ч) в среднем за 10 минут до 9 утра.
13.  WindSpeed3pm: Скорость ветра (км/ч) в среднем за 10 минут до 3 часов вечера.
14.  Humidity9a: Влажность (в процентах) в 9 утра.
15.  Humidity3pm: Влажность (в процентах) в 3 часа.
16.  Pressure9am: Атмосферное давление (ММРС) снижено до среднего уровня моря на 9 утра.
17.  Pressure3pm: Атмосферное давление (ММРС) снижено до среднего уровня моря на 3 часа в минуту.
18.  Cloud9am: Доля неба, затуманенная облаком в 9 утра. Измеряется в "октах", которые представляют собой единицу высоты. Она записывает, сколько высот неба затемнено облаком. Измерение 0 указывает на абсолютно чистое небо, а 8 - на то, что оно полностью затуманено.
19.  Cloud3pm: Часть неба, затуманенная облаком (в "октах": восьмые) в 15:00. Описание значений см. в Cload9am.
20.  Temp9am: Температура (градусы цельсия) в 9 утра.
21.  Temp3pm: температура (градусы цельсия) в 3 часа дня.
22.  RainToday: Булевое значение, равное единице, если осадки (мм) в течение 24 часов до 9 утра превышает 1 мм, в противном случае 0.
23.  RISK_MM: Количество дождя на следующий день в мм. Используется для создания переменной реакции RainTomorrow. Своего рода мера "риска".

In [3]:
dataset=pd.read_csv('ausraindata.csv')
dataset.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [4]:
M

NameError: name 'Cgfc' is not defined