# Mobile Price Classification

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('train.csv')
df['price_range'] = df['price_range'].map({0:False, 1:False, 2:True, 3:True}).astype(bool)

In [5]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,False
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,True
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,True
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,True
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,False

## Разделяем данные для обучения и тестирования

In [6]:
x = dataset.drop('price_range',axis=1)
y = dataset['price_range']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=101)

## Строим модель линейной регрессии и обучаем её

In [8]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [9]:
lm.fit(x_train,y_train)
lm.score(x_test,y_test)

0.6968101679815133

Наглядно видно, что признаки с низкой корреляцией хоть не силисльно, но всё же положительно влияют на точность, по этому избавляться от них не стоит.

## Теперь для повышения точностью воспользуемся KNN моделью

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=15)

In [11]:
knn.fit(x_train,y_train)
knn.score(x_test,y_test)

0.9712121212121212