# Mobile Price Classification

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

В качестве первого датасета я выбрал датасет "Mobile Price Classification", в нем есть следующие параметры:
1. battery_power: Объем батареи в мАч.
2. blue: Наличие bluetooth
3. clock_speed: Скорость, с которой микропроцессор выполняет инструкции
4. dual_sim: Имеет поддержку двойной sim или нет
5. fc: Мега пикселей во фронтальной камере
6. four_g: Наличие 4G
7. int_memory: Внутренняя память в гигабайтах
8. m_dep: Глубина устройства в см
9. mobile_wt: Вес телефона
10. n_cores: Количество ядер процессора
11. pc: Мега пикселей в основной камере
12. px_height: Пикселей в экране в высоту
13. px_width: Пикселей в экране в ширину
14. ram: Размер оперативной памяти
15. sc_h: Высота экрана телефона в сантиметрах
16. sc_w: Ширина экрана мобильного телефона в сантиметрах
17. talk_time: Наибольшее время, в течение которого один раз заряд батареи будет длиться
18. three_g: Наличие 3G
19. touch_screen: Имеет сенсорный экран или нет
20. wifi: наличие WiFi

А цены делятся на 4 категории (от 0 до 3) 0 -- самые дешевые устройства, 3 -- самые дорогие.

In [2]:
dataset=pd.read_csv('train.csv')
dataset.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## Информация о датасете

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [4]:
dataset.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

В датасете нет пропусков.

In [ ]:
dataset['price_range'] = dataset['price_range'].map({0:False, 1:False, 2:True, 3:True}).astype(bool)

## Разделяем данные для обучения и тестирования

In [5]:
x = dataset.drop('price_range',axis=1)
y = dataset['price_range']

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=101)

## Строим модель линейной регрессии и обучаем её

In [7]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [8]:
lm.fit(x_train,y_train)
lm.score(x_test,y_test)

0.9132801488185277

Наглядно видно, что признаки с низкой корреляцией хоть не силисльно, но всё же положительно влияют на точность, по этому избавляться от них не стоит.

## Теперь для повышения точностью воспользуемся KNN моделью

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=15)

In [10]:
knn.fit(x_train,y_train)
knn.score(x_test,y_test)

0.9242424242424242